<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeselkaCC</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="{{ url_for('static', filename='angles_table.jpeg')}}" class="table" />
        </div>
        <div>
        <h1>Elevation Angle: <span id="elevation">Loading...</span>°</h1>
        <h1>Azimuth Angle: <span id="azimuth">Loading...</span>°</h1>
        
        <div class="buttons">
            <button class="arrow-left" ontouchstart="handleArrowPress('left', this)" ontouchend="handleArrowRelease('left')"></button>
            <div>
            <button class="arrow-up" ontouchstart="handleArrowPress('up', this)" ontouchend="handleArrowRelease('up')"></button>
            <button class="arrow-down" ontouchstart="handleArrowPress('down', this)" ontouchend="handleArrowRelease('down')"></button>
            </div>
            <button class="arrow-right" ontouchstart="handleArrowPress('right', this)" ontouchend="handleArrowRelease('right')"></button>
        </div>
        <div class="buttons">
            <button class="stop" ontouchstart="buttonPress('stop')"></button>
            <button class="reboot" ontouchstart="buttonPress('reboot')">Reboot</button>
            <button class="reboot" ontouchstart="buttonPress('reset_rotation')">0°</button>
        </div>
    </div>


    <!-- <script src="{{ url_for('static', filename='main.js')}}"></script> -->
    <script src="/static/main.js"></script>
</div>
</body>
</html>
