<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ULTIMATE SKY DEFENCE SHOTRM 4</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
    <h1>Elevation Angle: <span id="angle">Loading...</span>°</h1>
    <h1>Azimuth Angle: {{ value2 }}</h1>
    
    <div class="buttons">
        <button class="arrow-left" ontouchstart="buttonPress('left')" ontouchend="buttonRelease('left')"></button>
        <div>
        <button class="arrow-up" ontouchstart="buttonPress('up')" ontouchend="buttonRelease('up')"></button>
        <button class="arrow-down" ontouchstart="buttonPress('down')" ontouchend="buttonRelease('down')"></button>
        </div>
        <button class="arrow-right" ontouchstart="buttonPress('right')" ontouchend="buttonRelease('right')"></button>
        </div>

    <script src="{{ url_for('static', filename='main.js')}}"></script>
</div>
</body>
</html>
